/* =========
Global 
============
*/

* {
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1903px;
}
/* =========
Navbar
============
*/
.navbar {
  background: #333333;
  padding: 2rem;
}
.nav-item {
  color: white;
  margin: 2rem;
}
/* =========
Hero section 
============
*/
.hero-img-container {
  max-width: 1903px;
  object-fit: cover;
}
/* =========
Our team 
============
*/
.team-heading {
  text-align: center;
  margin: 2rem 0;
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team-card {
  flex: 25%;
  text-align: center;
}
.team-card img {
  border-radius: 50%;
}
/* =========
Our work 
============
*/

/* =========
Pricing 
============
*/
/* =========
Contact US 
============
*/

/* =========
Footer 
============
*/
